body{
    background-image: url(img/NED_ARG\ Getty\ Images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cad{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(49, 49, 49, 0.8);
    padding: 25px;
    border-radius: 15px;
    color: white;
    bottom: 2px solid white;
}
fieldset{
    border: 3px solid yellowgreen;
}
legend{
    border: 1px solid yellowgreen;
    padding: 10px;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 5px;
}
button{
    background-color: rgb(226, 207, 0);
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    color: white;
}